from launch.actions import SetEnvironmentVariable
from launch import LaunchDescription
from launch.actions import IncludeLaunchDescription
from launch_ros.actions import Node
from launch.launch_description_sources import PythonLaunchDescriptionSource
from launch.substitutions import ThisLaunchFileDir
from launch.substitutions import PathJoinSubstitution
from launch_ros.substitutions import FindPackageShare
import os


from ament_index_python.packages import get_package_share_directory

def generate_launch_description():
    ouster_launch_dir = os.path.join(get_package_share_directory('ouster_ros'), 'launch')

    return LaunchDescription([
        
        SetEnvironmentVariable(name='ROS_LOG_DIR', value='/tmp/ros_logs'),
        
        # Ouster LiDAR
        IncludeLaunchDescription(
            PythonLaunchDescriptionSource(os.path.join(ouster_launch_dir, 'driver.launch.py')),
            launch_arguments={
                'ouster_ns': 'hrz',
                'viz': 'false',
                'params_file': PathJoinSubstitution([
                    FindPackageShare('ouster_ros'),
                    'config',
                    'driver_params.yaml'
                ])
            }.items()
        )
    ])

